h1{
  font-size:30px;
  line-height:60px;
  font-weight:normal;
}
hr{
  margin-bottom:20px;
}

.row{
  margin-bottom:20px;
}

.left, .right, .middle{
  padding:20px 0;
}

.left{
  background-color:#eee;
}

.middle{
  background-color:#b79;
}

.right{
  background-color:#a8e;
}