.footer{margin-top:20px; border-top:4px solid #595959; padding-top:10px; text-align:center; font-size:13px; color:#666; line-height:30px;}
.footer a, .footer a:visited{color:#666;}
.footer a:hover{color:#228fdd;}